name: Daily Sarkari Scraper

on:
  schedule:
    # Roz subah 3:30 AM UTC = 9:00 AM IST (India Time)
    - cron: '30 3 * * *'
  
  # Ye isliye taaki aap abhi "Run" button daba kar check kar sako
  workflow_dispatch:

jobs:
  scrape_and_save:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          pip install -r requirements.txt

      - name: Run Scraper Script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python sarkari_batch_final.py
